*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
    color: #fff;
}
p{
    font-size: 16px;
    color: #7a7c80;
    font-family: ubuntu, sans-serif;
}
a{
    font-family: Monsterrat, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2cc7c1 !important;
}
a:hover{
    color: #2cc7c1;
}
img{
    max-width: 100%;
    height: auto;
}
section{
    position: relative;
}
/* /////////////////////////// */
body{
    background: #fff;
    font-family: Ubuntu, sans-serif;
    font-style: 16px;
    color: #828282;
    font-weight: 400;
    min-width: 320px;

}
.center h1{
    color: #fff !important;
}
h1{
    color: #7a7c80;
    font-family: monserrent, sans-serif;
    font-size: 30px;
}


  

/* //////////////////////////// */
.image{
    background-image: url(../img/2.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    position: absolute;
    width: 650;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.center p{
    font-size: 20px;
    color: #fff;
    padding: 0px 60px;
}
a.btn-primary{
    background: #7ea4e8;
    border: none;
    font-family: Montserrat, sans-serif;
    transition: .5s;
    font-size: 17px;
    margin:0px 10px;
    padding: 10px 20px;
    color: #fff !important;
}
.btn-primary:hover{
    background-color: #474c52;
}
.btn-default{
    background: #7a7c80;
    border: none;
    font-family: Montserrat, sans-serif;
    transition: .5s;
    font-size: 17px;
    margin:0px 10px;
    padding: 10px 28px;
    color: #fff !important;
}
.btn-default:hover{
    background-color: #474c52;
    color: #fff;
}
#speaker *{
    color: #828282;
}
#speaker, #video {
  padding-top: 90px ;
}

.large{
    font-size: 22px;
}
#speaker .readmore{
    text-decoration: underline;
}
.section-tabs{
    border: 3px solid #ececec;
    border-radius: 2px;
}
.section-tabs .nav-tabs li:not(.active){
    background: #ececec;
}
.section-tabs .tab-content{
    padding: 25px 20px;
}
.section-tabs .tab-content ul{
    padding-left: 10px;
}
.section-tabs .tab-content ul li{
    line-height: 30px;
}

.section-tabs .tab-content ul li i {
    color: #2cc7c1 !important;
    font-size: 15px;
    margin-right: 10px;
}
.event_speakers{
    text-align: center;
    margin: 100px 0px 70px 0px;
}
.sedut{
    margin-top: 35px;
}
.sedut >a, i{
    color: #fff !important;
}
.sedut .btn{
    margin-top: 25px;
}
.bottom{
    margin-top: 100px;
    border-bottom: 5px solid #b5b6b8;
}
#video h2{
color: #7a7c80;
font-family: ubuntu;
font-size: 22px;
}
#video *{
    color: #7a7c80 ;
}
.row-item{
margin-top: 100px;}
.row-item-col{
    margin: 20px 0;
}
.carousel-indicators{
    left: 0;
    bottom: 10px;
    margin: 0;
    margin-left: 20px;
    width: auto;
}
.carousel-indicators li{
    border: 1px solid #2cc7c1;
    background: #fff;
    height: 12px;
    width: 12px;
}
.carousel-indicators li.active{
    background:#2cc7c1;
    width: 14px;
    height: 14px;
}
.link{
    text-transform: uppercase;
    font-size: 17px;
}

/* ===============form============ */

#form{
    padding: 90px 0;
    background: #f3f3f3;
}
.section-form{
    background: white;
    padding: 40px;
    border-radius: 2px;
    margin-top: 50px;
}
.section-form input, .section-form select{
height: 44px;
background: #efefef;
padding-right: 25px;
}
.has-success .form-control-feedback{
    color: #2cc7c1 !important;
}
.has-success .form-control, .section-form input.form-control:focus{
    border: 2px solid #95e3e0;
    background: #fff;
    box-shadow: none;
}
.form-control-feedback{
    right: 10px;
    line-height: 44px;
}
/* ====form select setting === */
/*поле select - размеры, фон, горизонтальное выравнивание*/
.select2-container--default .select2-selection--single{
  height: 44px;
  text-align: left;
  background: #efefef;
}
/*поле select - вертикальное выравнивание + цвет*/
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 44px;
  color: #bebebe;
}
/*фон открытого поля select*/
.select2-container--open .select2-selection--single{
  background: #2cc7c1;
}
/*цвет открытого поля select*/
.select2-container--open .select2-selection--single .select2-selection__rendered{
  color: #fff;
}
/*выравнивание стрелки*/
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 10px;
}
/*скрываем placeholder*/
li.select2-results__option:first-child{
  display: none;
}
/*фон списка*/
.select2-results__options,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"]{
  background: #525b64;
}
/*цвет списка*/
.select2-results__options{
  color: #2cc7c1;
}



#sponsors{
    background: #fff;
    padding: 70px 0;
}
#futter{
    background: #525b64;
}
#futter h2, #futter {
    font-size: 25px;
    color: white;
}
#futter_bottom{
    background: #3f464c;
}
.futter-bottom p{
    font-size: 14px;
    color: #cacaca;
    padding-top: 13px;
} 
.row-futter{
    padding: 85px 0 ;
}
.row-futter p{
    color: #cdd0d2;
}
.time{
    background:#2cc7c1;
    color: #fff !important;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    border-radius: 2px;
    margin-right: 25px;
}
.tab-collapse{
    margin-top: 20px;
}
.collapse-link{
    font-weight: 500;
    font-size: 18px;
    color: #747a84 !important;
}
.front{
    position: absolute;
    width: 140px;
    height: 140px;
    cursor: pointer;
    left: 50%;
    margin-left: -70px;
}
.back{
    width: 140px;
    height: 140px;
    background: #6db8d3 !important;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;
}
.back i{
    line-height: 140px;
    font-size: 50px;
    color: #fff;

}
.item > div:hover .front{
    opacity: .2;

}
.item > div:hover .back{
    opacity: 1;

}

.item > div{
    position: relative;
}

/* 
@media( min-width: 1024px) {
    .stroke{
        width: 25%;
        font-size: large;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
    }
} */
/* for tablet */
/* @media (min-width:768px) and (max-width:1023px) {
    .stroke{
        width: 50%;
    }
} */
/* for mobile phones */
@media (max-width:767px){
    .center{
        width: 75%;
    }
    .center p{
        padding: 0;
    }
    .btn{
        margin-top: 15px;
        width:230px;
    }
}